# Q1 :- What are the differences between operators and values in the following?

*
'hello'
-87.8
-
/
+
6

# *
please see below row for explanation...

In [1]:
''' *  :- This is the part of arithmetic operations and asterick operator basically used for multiplication similar like used in Math.  '''

' *  :- This is the part of arithmetic operations and asterick operator basically used for multiplication similar like used in Math.  '

In [2]:
# Example of using asterick :-

num1 = int(input("Please enter first number"))  #assigned input value entered by user to variable num1. As input default always the string so int() used for parsing the number from string to int....
num2 = int(input("Please enter second number"))  #assigned input value entered by user to variable num2. As input default always the string so int() used for parsing the number from string to int....
result = num1 * num2                              #multiplication performed on operand num1 and num2 by using asterick operator and output asigned to variable result...
print(result)                                      #here showing output using print() inbuilt function..

Please enter first number12
Please enter second number12
144

# 'hello'

please see below row for explanation...

In [3]:
# 'hello'  :- This is the simple string value and as string is always immutable(means we can't change the value).

In [13]:
message = 'hello'   #here defaukt string value assigned to variable message.
type(message)        #here type is checked of the value which is inside the variable message
print(message)       #here print function used to show the output.

hello

# -87.8

please see below explanation..

In [14]:
# -87.8  :- This is the floating type number or value.

In [15]:
type(-87.8)

float

# -, /, +

please see the below explantion...

In [16]:
#  - :  This is also the part of arithmetic operations and basically used for minus operations between two operands.
#  / :  This is also the part of arithmetic operations and basically used for division operations between two operands.
#  + :  This is also the part of arithmetic operations and basically used for Addition operations between two operands.

In [17]:
# Example of using -, /, + :-

num1 = int(input("Please enter first number"))  #assigned input value entered by user to variable num1. As input default always the string so int() used for parsing the number from string to int....
num2 = int(input("Please enter second number"))  #assigned input value entered by user to variable num2. As input default always the string so int() used for parsing the number from string to int....

minus_result = num1 - num2                              #minus operation performed on operand num1 and num2 by using minus (-) operator and output asigned to variable minus_result...
print(minus_result)                                              #here showing output using print() inbuilt function..

division_result = num1 / num2                              #minus operation performed on operand num1 and num2 by using division (/) operator and output asigned to variable division_result...
print(division_result)                                                 #here showing output using print() inbuilt function..

addition_result = num1 + num2                              #minus operation performed on operand num1 and num2 by using addition (+) operator and output asigned to variable addition_result...
print(addition_result)                                                 #here showing output using print() inbuilt function..

Please enter first number12
Please enter second number8
4
1.5
20

# 6

Please see below explanation..

In [18]:
# 6 :- This is the integer type value.

In [19]:
type(6)

int

# Q2 :- What is the difference between string and variable?

spam


'spam'

In [20]:
# variable :- variable is like used to store or hold the value in memory so that later we can use that value according to our need or requirement. We can assign any value to variable and type of that value is automatically decided by python interpreter. or we have options to typecast the value later.
# string :-   string is the value that might be in single quotes or double quotes.

In [24]:
spam = 'spam'   # here we have spam is variable used to hold or store data 'spam' (string value 'spam').
print(spam)      # here we are using spam variable to print or displaying the value using inbuilt print() function.

spam

# Q3 :- Describe three different data forms?

please see below explanation..

In [25]:
#We have three main data forms.
# 1>  Qualitative and Quantitative.
# 2>  Continuous and Discrete Data.
# 3>  Primary and Secondary Data.

In [29]:
# Quatitative:- this data is like numerical data like numbers 1,2,3....

In [35]:
# Qualitative data:- is discriptive data based on observations. qualitative data includes numbers, words.
# It basically involves 5 senses like see, feel, taste, hear, smell

In [36]:
# Discrete Data:- the data which is specific number or counting only means integer number only for examle
# Anything can be counted is discrete data.
# 2.5 cats - this is not discrete data as this is not possible.
# 2 cats - this is proper discrete data as this is possible foresure.

In [37]:
# Continuous Data:- the data which is showing some kind of distance from point A to Point B and it could be anything in distance.
# Anything can be measured is continuous data like distance, speed, weight.
# example :- from A to B --  distance is 4.7 Meter or 5Meter or 5.5 Meter.
# so this is continuous data.

In [38]:
#Primary Data :- refers to the data collected by the researcher, for the versy first time, from different sources with a particular problem.
#Secondary Data :- collected by any person, organization or agency in the past through surveys, experiment or study for some other purpose but used by the researcher to deal with the problem.

In [ ]:
# This question is little bit confusing

#if you are talking about data types then 
# we do have data types in python

# integer
# floating oint number
# string

# Q4 :- What makes up an expression? What are the functions of all expressions.
    
Please see below explanation..

In [27]:
# Represenatation of value is an expression. Expressions represen something like a number, a string or instance of a class. 
# Any assignment to a variable or function is a statement and value contained in that statement is an expression.
# Any string is also an expression since it represents the value of the string as well.
# Python expressions contains identifiers, literals, and operators.
# A sequence of operands and operators, like a+b-5 is called an expression.

In [37]:
#Few types of python expression:-

# List Comprehension
# Dictionary comprehension
# Arithmetic Expressions
# Relational Expressions
# String Expressions
# logical Expressions
# Compound Expressions

#Functions of an Expression:-
# type(), find(), split(), upper(), lower(), strip(), lstrip(), rstrip(), replace(), join(), swapcase()

In [38]:
# below code get all the numbers within 20 and puth them in a list
[num for num in range(20)]   #Example of List comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
# below code set numbers within 10 as key and square of the number as value
{num:num**2 for num in range(10)}  # Example of dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [41]:
#Arithmetic Expression example below ;-
num1 = 10
num2 = 20
result = num1 + num2   # This is the Arithmetic expression..
print(result)

30

# Q5:- In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?
    
    Please see below explanation

In [1]:
# Declarations are loaded before any code can run while expressions load only when the interpreter reaches that line of code.

# Q6:- After running the following code, what does the variable bacon contain?
bacon = 22


bacon + 1

In [3]:
bacon = 22
bacon+1      # bacon contain 23 as result...

23

# Q7:- What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

In [6]:
#both two terms returning the same values like 'spamspamspam'.

# Q8:-Why is it that eggs is a true variable name but 100 is not?

In [9]:
#As per variable declaration rules:-

# 1> Variable name must start with the letter or the underscore character.
# 2> Variable name cannot start with a number
# 3> Variable name can only contain alphanumeric, alpha ad underscores.

In [11]:
eggs = 'demo'
print(eggs)   # this code will return the output as string demo.

demo

In [13]:
100 = 'demo'
print(100)   # this will throw an error as cannot assign to literals

SyntaxError: cannot assign to literal (<ipython-input-13-08bd75fcb703>, line 1)

# Q9:- Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [20]:
num = '100'  # assigned string value to num
int(num)     # conversion done using inbuilt int() function

100

In [21]:
num = 100   # assigned int value to num
str(num)     # conversion done using inbuilt str() function

'100'

In [25]:
num = '-87.8'  # assigned string value to num
float(num)      # conversion done using inbuilt float() function

-87.8

# Q10:- . What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [27]:
# here we are trying to concatenate integer with string so it will throw an error. To made this operation success simply convert int value 99 to string.
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [28]:
# This is how we can easily overcome the above issue

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'