# Q1:- What exactly is []?

In [2]:
# this is the empty list.
lst = []
type(lst)

list

# Q2:- In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [9]:
spam = [2,4,6,8,10]  # here assuming the list

In [10]:
print(spam)

[2, 4, 6, 8, 10]

In [13]:
spam[2] = 'hello'  #here assigned 'hello' as third value. This value is at index 2 which is 6

In [14]:
spam

[2, 4, 'hello', 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

# Q3:- What is the value of spam[int(int('3' * 2) / 11)]?

In [22]:
spam = ['a', 'b', 'c', 'd']

In [25]:
spam[int(int('3' * 2) / 11)] # here we are getting value 'd'. How let's see by dividing the code

'd'

In [26]:
'3' * 2   #here we have string value '3' and *

'33'

In [27]:
int('3' * 2)

33

In [30]:
int(int('3' * 2)/11) # we are getting index 3 and at index 3 we have value 'd' in list

3

In [32]:
spam  #here we can see that 'd' is at index 3

['a', 'b', 'c', 'd']

# Q4:-What is the value of spam[-1]?

In [38]:
spam[-1] # here we are getting value 'd' as Negative index always start from end of the list.

'd'

In [39]:
spam   #here d=-1, c=-2, b=-3, a=-4

['a', 'b', 'c', 'd']

# Q5:- What is the value of spam[:2]?

In [41]:
spam[:2]  #herewe are getting a and b as output

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [56]:
bacon = [3.14, 'cat', 11, 'cat', True]

# Q6:- What is the value of bacon.index('cat')?

In [57]:
bacon.index('cat') #the index of 'cat' is 1 as index always starts from 0

1

# Q7:- How does bacon.append(99) change the look of the list value in bacon?

In [58]:
bacon.append(99) # it will append number 99 at the end of the list

In [59]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# Q8:- How does bacon.remove('cat') change the look of the list in bacon?

In [60]:
bacon.remove('cat') # As we have two values for 'cat' in the list and if we remove the value 'cat' it will remove first  found value

In [61]:
bacon #Now we have one value for 'cat' is left in the list

[3.14, 11, 'cat', True, 99]

# Q9:- What are the list concatenation and list replication operators?

In [63]:
#List concatenation operator

#this is example of list concatenation like + we can use such operation
a = [3,4,5,2]
b = [1,8,3,4]
c = a+b
c

[3, 4, 5, 2, 1, 8, 3, 4]

In [65]:
#this is example of list concatenation like + we can use such operation
#Like below also we can achieve the same
a = [3,4,5,2]
b = [1,8,3,4]
a+=b
a

[3, 4, 5, 2, 1, 8, 3, 4]

In [69]:
# Replication operator
#below is the example of replication operator
a = [3,4,5,2]

a * 3

[3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2]

# Q10:- What is difference between the list methods append() and insert()?

In [79]:
#append():- this always the value just after the last index of the list
#insert():- using this method we can insert value at any index

In [72]:
lst = [1,'a',3,4,'f','d']

In [73]:
lst

[1, 'a', 3, 4, 'f', 'd']

In [77]:
lst.append('Rahul Sharma')    #here we can see the value. How append how works

In [78]:
lst

[1, 'a', 3, 4, 'f', 'd', 'Rahul Sharma', 'Rahul Sharma']

In [80]:
lst

[1, 'a', 3, 4, 'f', 'd', 'Rahul Sharma', 'Rahul Sharma']

In [84]:
lst.insert(2,'Rahul Sharma') # here we have to provide index where we want to add value

In [86]:
lst

[1,
 'a',
 'Rahul Sharma',
 'Rahul Sharma',
 3,
 4,
 'f',
 'd',
 'Rahul Sharma',
 'Rahul Sharma']

# Q11:- What are the two methods for removing items from a list?

In [95]:
# remove()
# del
#pop() 

#see below examples
lst1 = [2,4,2,4,6,7,7,4]

In [96]:
lst1.remove(7)

In [97]:
lst1

[2, 4, 2, 4, 6, 7, 4]

In [98]:
del lst1[0]

In [99]:
lst1

[4, 2, 4, 6, 7, 4]

In [100]:
lst1.pop(5)

4

In [101]:
lst1

[4, 2, 4, 6, 7]

# Q12:- Describe how list values and string values are identical.

In [102]:
# list and string values having index and
# list and string both are iterable and we can use them in for loop or foreach
# We can concatenate list and string values

# Q13:- What's the difference between tuples and lists?

In [103]:
# lists are mutable means we can update, remove, add in list and tuples are immutable means we ca not change data inside the tuples.
# List use [] and typles used ().

# Q14:- How do you type a tuple value that only contains the integer 42?

In [108]:
# this is taking as integer
tup = (42)

In [109]:
type(tup)

int

In [112]:
# this is the way to add 42 as a tuple value. Can see the type
tup = (42,)
type(tup)

tuple

# Q15:- . How do you get a list value's tuple form? How do you get a tuple value's list form?

In [116]:
# We ca simply typecase tuple to list and list to tuple. See below examples

tuple_value = (1,2,3,4,5,6,7,8)

In [117]:
tuple_value

(1, 2, 3, 4, 5, 6, 7, 8)

In [118]:
list(tuple_value)

[1, 2, 3, 4, 5, 6, 7, 8]

In [119]:
list_values = [1,2,3,4,5,6,7,8]

In [120]:
tuple(list_values)

(1, 2, 3, 4, 5, 6, 7, 8)

# Q16:- Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [121]:
# Instead of values they will contain the address of the list

# Q17:- How do you distinguish between copy.copy() and copy.deepcopy()?

In [128]:
# When we use = operator user thinks that this creates a new object but it doesn't. It only creates new variables that shares the reference of the origianl objects.
# Sometime we may need to work with mutable object so in that case we need to create copies or clone of the original object.
# We have two ways to create copies.

In [ ]:
# Deep Copy
# Shallow copy

In [ ]:
# copy.copy() :-  This is the shallow copy means constructing the new collection object and then populating it with references to the child object.
                # The copy process does not recurse and will not create aopy of the child objects.

In [ ]:
# copy.deepcopy() :- Deepcopy is the process in which the copying process occurs recursively